@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap");

@import "tailwindcss";

html{
    scroll-behavior:smooth;
}

body{
    margin:0;
    padding:0;
    font-family:"Inter",sans-serif;
    background:#F8FAFC;
    color:#1E293B;
}

h1,h2,h3,h4,h5,h6{
    font-family:"Poppins",sans-serif;
}
:root{

--primary:#0F172A;

--secondary:#1E3A5F;

--gold:#C9A227;

--light:#F8FAFC;

--text:#334155;

--white:#ffffff;

}